.Card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    /* height: 30vh; */
    padding: 0 15px;
    border-radius: 5px;
    margin: 5px;
}
.pink{
    background-color: rgb(255, 240, 240);
}
.ash{
    background-color: rgb(230, 230, 230);
}
.yellow{
    background-color:rgb(255, 255, 194);
}
.orange
{
    background-color:rgb(255, 229, 209);
}
.count{
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}
.logo i{
    text-align: center;
    padding-top:5px;
    background-color: white;
    width: 25px;
    height: 20px;
    border-radius: 50%;
}

@media screen and (max-width:680px) {
    .Card{
        width: 80%;
        height:fit-content;
    }
}

@media screen and (min-width:681px) and (max-width:1000px) {
    .Card{
        height: 150px;
    }
}
